<?xml version='1.0' encoding='utf-8'?>
<widget id="com.marek.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sudoku</name>
    <description>Simple application to play sudoku</description>
    <author email="marekbauer07@gmail.com" href="https://github.com/speederking07">
        Marek Bauer
    </author>
    <content src="index.html" />
    <icon src="img/sudoku.png" />
    <preference name="android-targetSdkVersion" value="33"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
