$box-border: 3px solid black;
$normal-border: 1px solid black;

.board {
  border: $box-border;
  text-align: center;
  margin-top: 8px;
  transition: none;

  @include media-breakpoint-between(xs, sm) { 
    $board-size: calc(min(90vw, 100vh - 20px));
    font-size: calc($board-size / 16);
    width: calc($board-size);
    height: calc($board-size);
  }
  
  @include media-breakpoint-between(sm, md) { 
    $board-size: calc(min(80vw, 100vh - 220px));
    font-size: calc($board-size / 16);
    width: calc($board-size);
    height: calc($board-size);
  }
  
  @include media-breakpoint-between(md, xl) { 
    $board-size: calc(min(65vw, 100vh - 240px));
    font-size: calc($board-size / 16);
    width: calc($board-size);
    height: calc($board-size);
  }
  
  @include media-breakpoint-up(xl) { 
    $board-size: min(50vw, 100vh - 260px);
    font-size: calc($board-size / 16);
    width: calc($board-size);
    height: calc($board-size);
  }

  
}

.border-bottom-box {
  border-bottom: $box-border;
}

.border-bottom-normal {
  border-bottom: 1px solid black;
}

.border-bottom-no {
  border-bottom: 0px;
}

.border-right-box {
  border-right: $box-border;
}

.border-right-normal {
  border-right: $normal-border;
}

.border-right-no {
  border-right: 0px;
}

.board input {
  width: 100%;
  height: 100%;
  font-weight: bolder;
  font-family: "Sacramento", cursive;
  text-align: center;
  border: 0px;
  background-color: transparent;
  color: black;
  outline: none;
}

.board input.given {
  font-family: "Montserrat", sans-serif;
}

.field {
  background-color: rgb(224, 224, 224);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  outline: 0px;
  width: calc(100%/9);
  height: calc(100%/9);
}

.field-focused {
  background-color: #cfcf0d;
}

.field-error {
  background-color: #c90000;
}

.field-success { 
  background-color: #649d18;
}