.navbar-brand, .container-fluid, .navbar-brand:hover {
  color: white;
}

.menu {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
  color: white;
}

.nav-item {
  cursor: pointer;
  line-height: 40px;

  i {
    vertical-align: middle;
    font-size: 31px;
  }

  span {
    vertical-align: middle;
  }
}