.toast-runner {
  width: 100vw;
  height: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  .my-toast{
    z-index: 1;
    font-size: 16pt;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 7px 4px 5px #00000047;
    transition: all 1s;
  }

  .show-toast {
    opacity: 1;
  }

  .hide-toast {
    opacity: 0;
  }

  .error-toast {
    color: white;
    background-color: red;
  }

  .warning-toast {
    background-color: rgb(170, 120, 26);
  }
  
  .info-toast {
    background-color: #00dddd;
  }
}